.ohsc-nav-btn-toolbar {
	position: absolute;
	top: 25px;
	right: 0px;
}

.ohsc-welcome-text {
	background: #fff;
	color: #5e5247;
}

.ohsc-logo {
	height: 100px;
}

.ohsc-border {
	border: 1px solid #ddd;
	padding: 30px 20px 30px;
	margin: 20px 5px 20px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 12px 1px rgba(122, 104, 88, 1);
	-moz-box-shadow: 0px 0px 12px 1px rgba(122, 104, 88, 1);
	box-shadow: 0px 0px 12px 1px rgba(122, 104, 88, 1);
	min-width: 97%;
	display: inline-block;
}

.masthead {
	position: relative;
}

svg {
	padding: 10px 0 0 10px;
	font: 12px sans-serif;
}

.arc {
	stroke: #fff;
}

body {
  padding: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 18px; 
}

#breadcrumb {
  margin-bottom: 20px;
  line-height: 20px;
  color: #5e5247;
  padding: 1px; 
}

#breadcrumb a {
    cursor: default;
    display: block;
    float: left;
    background: #eeede8;
    padding-right: 10px;
    height: 50px;
    padding-top: 10px;
    margin-right: 61px;
    position: relative;
    text-decoration: none;
    color: #5e5247; 
}

#breadcrumb a:last-of-type {
      margin-right: 25px; 
}

#breadcrumb a:before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      position: absolute;
      top: 0;
      left: -48px;
      border: 30px solid transparent;
      border-color: #eeede8;
      border-left-color: transparent;
      z-index: -1;
}
#breadcrumb a:after {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      position: absolute;
      top: 0px;
      right: -59px;
      border: 30px solid transparent;
      border-left-color: #eeede8;
}

#breadcrumb a:first-of-type {
      padding-left: 15px;
}

#breadcrumb a:first-of-type:before {
        display: none; 
}

#breadcrumb a span {
      font-size: 12px;
      display: block;
      color: #c47d1e; 
}

#breadcrumb a.active {
    cursor: pointer;
    background: #c4cfb8; 
}

#breadcrumb a.active:before {
      border-color: #c4cfb8;
      border-left-color: transparent; 
}

#breadcrumb a.active:after {
      border-left-color: #c4cfb8; 
}

#breadcrumb a.active:hover {
      background: #c47d1e;
      color: #fff;
      text-decoration: none;
}

#breadcrumb a.active:hover:before {
        border-color: #c47d1e;
        border-left-color: transparent;
}

#breadcrumb a.active:hover:after {
        border-left-color: #c47d1e;
}

#breadcrumb a.active:hover span {
        color: #eeede8;
}

.arrow-heading {
    background-color: #eeede8;
    height: 56px;
    margin: 0px;
    padding: 0px;
}

.arrow {
    position: absolute;
	width: 0px; 
	height: 0px;
    margin-left: 30px;
    margin-top: 47px;
	border-left: 123px solid transparent;
	border-right: 123px solid transparent;
	border-top: 30px solid #c4cfb8;
    z-index: 1;
}

.arrow-box {
    position: absolute;
    padding-top: 5px;
    margin-left: 33px;
    height: 42px;
	width: 240px; 
    background-color: #c4cfb8;
    z-index: 2;
}

.arrow-heading p {
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    line-height: 50px;
    color: #5e5247;
    padding-top: 5px;
    margin-left: 33px;
    height: 42px;
    text-align: center;
	width: 240px; 
    background-color: transparent;
    text-transform: none;
    z-index: 3;
}

.hasDatepicker {
    margin-right: 15px;
    margin-left: 5px;
}

.reports {
	float: left;
	margin-right: 35px;
}

.form {
	float: left;
}
}
}